.header__container{
    position:relative;
}

.header {
    overflow: hidden;
    position: relative;
    height: 39rem;
    min-height: calc(13rem + 32vw);

    @media (max-width: 75em) {
        .header {
            height: calc(13rem + 32vw); 
    }
}
}

.header::before,
.header::after {
    content: "";
    position: absolute; 
    width: 100vw;
    bottom: -8rem;

    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;

    /** 1200px oder schmaler */
    @media (max-width: 75em) {
        bottom: -4rem;
    }

    @media (max-width: 62em) {
        bottom: -1rem;
    }
}

.header::before {
    top: 0;
    background-image: url("../../img/background.jpeg");

    @media (max-width: 36em) { 
        background-size: cover;
    }
}

.header::after {
    /* ~660 pixel hoch <=> 33vw */
    height: 39vw;
    background-image: url("../../img/background_transparent.png");

    @media (max-width: 36em) { 
        display: none;
    }
}

.header__heading-container{
    clear:both;
}

.header__heading-main{
    padding-top: 1rem;
    font-weight: 700;
    font-size: 7rem;
    text-align: center;
    line-height: 85%;
    color: #555555;
    text-transform: uppercase;
    text-shadow: 0 0 0.5rem #cccccc;
    animation-name: header__heading-main-font-weight;
    animation-delay: 0.5s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;


    @media (max-width: 62em) {
        .header__heading-main {
            font-size: 5rem;
        }
    }

    @media (max-width: 48em) {
        .header__heading-main {
            font-size: 3rem;
        }
    }
}
@keyframes header__heading-main-font-weight {
    0% {
        opacity: 0;
        font-weight: 100;
    }
    100% {
        opacity: 1;
        font-weight: 700;
    }
}


.header__heading-sub-main{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    text-align: center;
    color: rgb(233, 196, 106);
    text-transform: uppercase;
    text-shadow: 0 0 0.5rem black;
    position: relative;
    z-index: 1;

    @media (max-width: 48em) {
        font-size: 1rem;
        font-weight: 200;
    }
    @media (max-width: 36em) {
        font-size: 0.5rem;
        font-weight: 100;
    }
}

.header__heading-sub-second{
    margin-top: 0.1rem;
    font-size: 0.5rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-align: center;
    color: #eeeeee;
    text-transform: uppercase;
    text-shadow: 0 0 0.5rem black;
    position: relative;
    z-index: 1;

    @media (max-width: 48em) {
            font-size: 0.3rem;
            font-weight: 100;
    }
    @media (max-width: 36em) {
        font-size: 0.1rem;
        font-weight: 100;
}
}


// This is the "divider shape" on the bottom of the header image
.header__slope {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10vw;
    z-index: 1;

    background-image: linear-gradient(-5.71deg, white 49.9%, transparent 50.1%);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100vw 10vw;
}

