.navigation__list-item {
    list-style-type: none;
    display: block;
    float: left;

    &--mobile-hidden {
        @media (max-width: 62em) {
            display: none;
        }
    }

    &--menu {
        float: right;
        font-size: 3rem;
    }
}

.navigation__list-item-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
    text-shadow: 0 0 0.5rem black;

    &:hover {
        color: rgb(233, 196, 106);
    }

    .navigation__list-item--menu & {
        margin-top: 0.4rem;

        &:hover {
            border-bottom: none;
            color: rgb(233, 196, 106);
        }
    }

    &--logo {
        margin-top: 0.9rem;

        &:hover {
            border-bottom: none;
            color: rgb(233, 196, 106);
        }
    }
}


.navigation__list-item-logo {
    width: 4rem;
    height: 4rem;
    fill: currentColor;
}