@use "../abstracts/" as *;
@use "sass:color";

$-form__input-padding: 0.75rem 1rem;

.form__group {
    position: relative;
    margin-bottom: 1rem;
}

.form__input {
    background-color: transparent;
    border: 0.125rem solid $color-primary;
    padding: $-form__input-padding;
    color: #fefefe;
    border-radius: 10000px;
    font-size: 1rem;
    width: 12.5rem;
}

.form__input:focus {
    outline-offset: 0px;
    outline: none;
    border: 1px solid $color-primary;
    box-shadow: 0 0 0.5rem $color-primary;
    -moz-box-shadow: 0 0 0.5rem $color-primary;
    -webkit-box-shadow: 0 0 0.5rem $color-primary;
}

.form__input::placeholder {
    color: #fefefe;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
}

.form__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding: $-form__input-padding;
    color: $color-primary;
}