* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Jost', sans-serif;
    font-size: 100%;

    @media (min-width: 100em) {
        font-size: 133%;
    }
    @media (min-width: 133em) {
        font-size: 166%;
    }
    @media (min-width: 166em) {
        font-size: 200%;
    }
}

input,
select {
    font-family: inherit;
}