@use "../../abstracts/" as *;
@use "sass:color";

$-skills-card-border-width: (1rem / 16);
$-skills-card-margin: 0.66rem;

.skills {
    background-color: rgb(240, 240, 240);
    min-height: 5rem;
}

.skills__container {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: -$-skills-card-margin;
    margin-right: -$-skills-card-margin;
}

.skills__card {
    flex: 1 0 0px;
    margin: 0 $-skills-card-margin;
    background: #fefefe;
    box-shadow: 0.5rem 0.5rem 2rem black;
    border-left: $-skills-card-border-width solid #e2e2e2;
    border-right: $-skills-card-border-width solid #e2e2e2;
    border-top: $-skills-card-border-width solid #e2e2e2;
    position: relative;
}

.skills__card::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: -$-skills-card-border-width;
    right: -$-skills-card-border-width;
    height: 0.75rem;
    background-color: $color-primary;
    border-left: $-skills-card-border-width solid color.scale($color-primary, $saturation: -50%, $lightness: 25%);
    border-right: $-skills-card-border-width solid color.scale($color-primary, $saturation: -50%, $lightness: 25%);
}

.skills__image {
    width: 100%;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
}

.skills__image-container {
    background-color: $color-primary;
    margin: -$-skills-card-border-width -$-skills-card-border-width 0 -$-skills-card-border-width;
}

.skills__image-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8rem;
    background-image: linear-gradient(-5.71deg, #fefefe 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: 50% 1rem;
}