@use "../../abstracts/" as *;

$-technologies-background-color: $color-secondary-dark;

.technologies {
    background-color: $-technologies-background-color;
    height: 30rem;
    position: relative;
}

%technologies__before-and-after {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "Web Dev";
    text-transform: uppercase;
    color: $-technologies-background-color;
    font-size: 10rem;
    font-weight: bold;
    text-shadow: 0 0 1px white;
    text-align: center;
    z-index: 0;
}

@mixin -technologies__before-and-after-stroke($color) {
    @supports (-webkit-text-stroke: 2px #{$color}) or (text-stroke: 2px #{$color}) {
        -webkit-text-stroke: 2px #{$color};
        text-stroke: 2px #{$color};
        text-shadow: none;
    }
}

.technologies::before {
    @extend %technologies__before-and-after;

    @include -technologies__before-and-after-stroke(rgba(255, 255, 255, 0.2));
}

.technologies::after {
    @extend %technologies__before-and-after;

    @include -technologies__before-and-after-stroke(transparent);
}

.technologies__container {
    position: relative;
    z-index: 1;

    @include make-container();
}


.technologies__heading {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 2rem;
}

.technologies__cards {
    display: flex;
}

.technologies__card {
    width: 20%;
}

.technologies__card-image {
    width: 100%;
}

.technologies__card-icon {
    color: #fefefe;
}