@use "abstracts";
@use "base";
@use "components";
@use "layout";
@use "pages";
@use "vendors";

@import "./vendors/FontAwesome/fontawesome.scss";
@import "./vendors/FontAwesome/solid.scss";
@import "./vendors/FontAwesome/regular.scss";